<h1>Editing proposta</h1>

<%= render "form", propostum: @propostum %>

<br>

<div>
  <%= link_to "Show this proposta", @propostum %> |
  <%= link_to "Back to proposta", proposta_index_path %>
</div>
