<div class="relative">
  <%= form.label :cpf, "CPF do Cliente" %>
  <%= form.text_field :cpf, class: "form-input" %>
  <span class="tooltip text-sm absolute top-0 right-0" title="Digite apenas números, sem pontos ou traços.">❔</span>
</div>
