# Git / VCS
.git
.gitignore
.github
.gitlab-ci.yml

# Documentação/Meta
README*
LICENSE*

# Node / Yarn
node_modules
npm-debug.log*
yarn-error.log
yarn-debug.log*
.pnpm-debug.log*

# Ruby / Bundler
.bundle
vendor/bundle

# Logs / Temp
log
tmp
storage
coverage

# Credenciais / Env (NÃO envie isso pro build context)
.env
.env.*
config/master.key
config/credentials/*.key

# Assets gerados localmente
public/assets
app/assets/builds
public/packs
public/packs-test

# Outras coisas
*.swp
.DS_Store
Thumbs.db
