default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS", 5) %>
  variables:
    statement_timeout: 15000

development:
  <<: *default
  database: cargaclick_development

test:
  <<: *default
  database: cargaclick_test

production:
  <<: *default
  url: <%= ENV["DATABASE_URL"] %>
