<nav class="bg-white shadow mb-4 px-6 py-3">
  <ul class="flex space-x-6 font-semibold">
    <li><%= link_to 'Início', root_path %></li>
    <li><%= link_to 'Clientes', clientes_path %></li>
    <li><%= link_to 'Transportadores', transportadores_path %></li>
    <li><%= link_to 'Simular Frete', calcular_fretes_path %></li>
  </ul>
</nav>
